<div style="display: flex; flex-direction: column; height: 100%;background-image: url('../../../assets/images/banner.jpeg');background-size: cover;align-items: center;justify-content: center;">
    <div style="height: fit-content;width: 300px;background: rgba(255, 255, 255, 0.76);border-radius: 10px;">
        <form class="ex-form">
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Họ và tên</mat-label>
                <input matInput placeholder="Ex. Văn A" value="">
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Số điện thoại</mat-label>
                <input type="tel" matInput placeholder="Ex. 0987654321" value="">
            </mat-form-field>
            <button mat-raised-button (click)="nav()">Xem Menu</button>
        </form>
    </div>
</div>