<div class="container">
  <div class="login-box">
    <div class="login">
      <div class="nameapp">
        <div class="name">POS APP</div>
      </div>
      <div class="formlogin">
        <div class="title">
          <div style="font-size: 36px; font-weight: 700">Đăng nhập</div>

          <p>Chào mừng quay lại! Hãy đăng nhập tài khoản của bạn.</p>
        </div>
        <!-- <div class="input">
          <div class="text">
            <mat-form-field appearance="outline" style="width: 100%">
              <mat-label>Tên đăng nhập</mat-label>
              <input matInput placeholder="Placeholder" />
              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            </mat-form-field>
          </div>
          <div class="text">
            <mat-form-field appearance="outline" style="width: 100%">
              <mat-label>Mật khẩu</mat-label>
              <input matInput [type]="hide ? 'password' : 'text'" />
              <button
                mat-icon-button
                matSuffix
                (click)="hide = !hide"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide"
              >
                <mat-icon>{{
                  hide ? "visibility_off" : "visibility"
                }}</mat-icon>
              </button>
            </mat-form-field>
          </div>
        </div> -->
        <div>
          <!-- <button class="button" (click)="test()">Đăng nhập</button> -->

          <button class="button1" (click)="login()">
            Đăng nhập với tài khoản B24
          </button>

          <!-- <button class="button2">Đăng nhập với Google</button> -->
        </div>
      </div>
      <div class="expand_more">
        <div>B24 © 2023</div>
        <div>info@b24.vn</div>
      </div>
    </div>
    <!-- <div class="image"><div class="images"></div></div> -->
  </div>
</div>
