@use "@angular/material" as mat;
$ordercf-test-primary: mat.define-palette(mat.$green-palette);

.example-viewport {
  height: calc(100vh - 315px);
  overflow: auto;
  width: 100%;
}

:host ::ng-deep .cdk-virtual-scroll-content-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  mat-card {
    display: block;
    margin-bottom: 10px;
    .mat-card-remove-add {
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      border-radius: 50%;
      background: #f0f0f3;
    }
    mat-card-actions {
      margin: 8px 15px;
      button {
        display: flex;
        align-items: center;
        width: fit-content;
        height: fit-content;
        border: none;
        background-color: transparent;
        .icon-cancel {
          margin: 0;
          width: 40px;
          height: 40px;
          font-size: 40px;
          &:hover {
            transform: scale(1.2);
          }
        }
        mat-icon {
          margin: 0;
          width: 33px;
          height: 28px;
          font-size: 30px;
        }
      }
    }
    .mat-mdc-form-field-subscript-wrapper {
      height: 0;
    }
  }
}

.buttonTable {
  height: 48px;
  width: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  box-shadow: -2px -2px 2px 2px rgba(174, 174, 192, 0.4) inset,
    2px 2px 2px 2px #fff inset, 4px 4px 10px 0px rgba(174, 174, 192, 0.4),
    -4px -4px 10px 0px #fff;

  cursor: pointer;
  &:active {
    box-shadow: -10px -10px 30px 0px #fff,
      10px 10px 30px 0px rgba(174, 174, 192, 0.25),
      10px 10px 30px 0px rgba(174, 174, 192, 0.4) inset,
      -10px -10px 30px 0px #fff inset;
  }
}
