<div class="heading3">Chuyển bàn</div>
<div mat-dialog-content style="display: flex; flex-direction: column">
  <mat-form-field appearance="outline">
    <mat-label>Select Section</mat-label>
    <mat-select
      [(ngModel)]="data.sectionId"
      (selectionChange)="changeSection()"
    >
      <mat-option
        *ngFor="let section of option.sections"
        [value]="section['id']"
      >
        {{ section["tableSectionName"] }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Bàn số</mat-label>
    <mat-select [(ngModel)]="data.tableId">
      <mat-option *ngFor="let table of option.tables" [value]="table['id']">
        {{ table["tableName"] }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button
    mat-raised-button
    style="background: #d9e7cb; color: #9cd67d"
    (click)="onNoClick()"
  >
    Hủy
  </button>
  <button
    mat-raised-button
    class="headingBodyMedium"
    style="background: #9cd67d; color: #0c3900"
    [mat-dialog-close]="data"
  >
    Chấp nhận
  </button>
</div>
