<div class="right-column">
  <div class="pages12">
    <!-- <div class="fb-item">
      <div class="first-section-wrapper">
        <div class="gravatar">
          <ngx-skeleton-loader
            appearance="circle"
            [theme]="{ width: '80px', height: '80px', background: '#e3dad0' }"
          >
          </ngx-skeleton-loader>
        </div>
        <div class="gravatar-title">
          <div>
            <ngx-skeleton-loader
              [theme]="{
                width: '200px',
                'border-radius': '0',
                height: '25px',
                'margin-bottom': '10px',
                background: '#e3dad0'
              }"
            ></ngx-skeleton-loader>
          </div>
          <div>
            <ngx-skeleton-loader
              [theme]="{
                width: '170px',
                'border-radius': '0',
                height: '15px',
                background: '#e3dad0'
              }"
            >
            </ngx-skeleton-loader>
          </div>
        </div>
      </div>
      <div class="second-section-wrapper">
        <div class="wrapper">
          <ngx-skeleton-loader
            [theme]="{
              width: '80%',
              'border-radius': '0',
              height: '15px',
              'margin-bottom': '10px',
              background: '#e3dad0'
            }"
          ></ngx-skeleton-loader>
        </div>
        <div class="wrapper">
          <ngx-skeleton-loader
            [theme]="{
              width: '90%',
              'border-radius': '0',
              height: '15px',
              'margin-bottom': '10px'
            }"
          ></ngx-skeleton-loader>
        </div>
        <div class="wrapper">
          <ngx-skeleton-loader
            [theme]="{
              width: '60%',
              'border-radius': '0',
              height: '15px',
              'margin-bottom': '10px'
            }"
          ></ngx-skeleton-loader>
        </div>
      </div>
    </div> -->
    <!-- <div style="height: 100px; width: 100%">
      <div *ngIf="apiLoaded | async">
        <google-map></google-map>
      </div>
    </div> -->
    <!-- <div style="padding: 1rem">
      <div class="textaaa">
        <div class="heading3 textabc">Kính gửi các thành viên nhà hàng,</div>
      </div>

      <div class="">
        Đội ngũ tài năng và nhiệt huyết của chúng ta đã làm nên sự khác biệt
        đáng kể. Sự cam kết và đóng góp của mỗi người đã tạo nên không gian ẩm
        thực tuyệt vời. Cảm ơn bạn vì những nỗ lực và tinh thần đồng đội. Hãy
        cùng tiếp tục mang đến những trải nghiệm đáng nhớ cho khách hàng và duy
        trì vẻ đẹp của đội ngũ chúng ta.
      </div>
      <div class="textaaa">
        <div class="textabc">Trân trọng,</div>
      </div>
    </div> -->

    <div>
      <!-- <div id="chart">
        <apx-chart
          [series]="chartOptions.series"
          [chart]="chartOptions.chart"
          [plotOptions]="chartOptions.plotOptions"
          [labels]="chartOptions.labels"
          [fill]="chartOptions.fill"
          [stroke]="chartOptions.stroke"
        ></apx-chart>
      </div> -->
    </div>
    <div style="position: absolute; right: 1rem; top: 1rem; z-index: 5">
      <button
        mat-icon-button
        aria-label="Example icon-button with menu icon"
        (click)="close()"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M5.29289 5.29289C5.68342 4.90237 6.31658 4.90237 6.70711 5.29289L12 10.5858L17.2929 5.29289C17.6834 4.90237 18.3166 4.90237 18.7071 5.29289C19.0976 5.68342 19.0976 6.31658 18.7071 6.70711L13.4142 12L18.7071 17.2929C19.0976 17.6834 19.0976 18.3166 18.7071 18.7071C18.3166 19.0976 17.6834 19.0976 17.2929 18.7071L12 13.4142L6.70711 18.7071C6.31658 19.0976 5.68342 19.0976 5.29289 18.7071C4.90237 18.3166 4.90237 17.6834 5.29289 17.2929L10.5858 12L5.29289 6.70711C4.90237 6.31658 4.90237 5.68342 5.29289 5.29289Z"
            fill="#0F1729"
          />
        </svg>
      </button>
    </div>
    <div style="padding-bottom: 1rem; text-align-last: center">
      <img class="logo" src="../../../assets/images/chef.png" />
    </div>
  </div>
</div>
