<div style="display: flex; flex-direction: column" id="froala-editor">
  <div
    style="
      margin: 0 auto;
      width: 20rem;
      border: 1px solid #b7b7b7;
      padding: 4px;
    "
  >
    <div style="font-size: 16px; border-bottom: 1px solid #000">
      <div style="text-align: center">
        <b>Nhà hàng làng nướng Nam bộ 123 Trương Định q.3 TP.HCM</b>
      </div>
      <div style="text-align: center"><b>ĐT: 0999.99.99.99</b></div>
    </div>
    <div class="top" style="font-size: 16px">
      <div style="text-align: center">HÓA ĐƠN BÁN HÀNG</div>
      <div class="text-align:center"></div>
      <div>Thu ngân: {{ order?.employeeName }}</div>
    </div>

    <table>
      <thead>
        <th><b>Đơn giá</b></th>
        <th><b>SL</b></th>
        <th><b>Thành tiền</b></th>
      </thead>
      <tbody>
        <td>a</td>
        <td>b</td>
        <td>c</td>
      </tbody>
    </table>
  </div>
</div>
