
<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="nav(options.routers)">
    <mat-icon>{{options.icon}}</mat-icon>
  </button>
  <span style="font-size: larger;">{{options.name}}</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" style="background-color: var(--status-1);">
    <mat-icon>person</mat-icon>
  </button>
  <div></div>
</mat-toolbar>